.add-file-container {
  margin-left: 15%;
  /* margin: 10px; */
  width: 70%;
  /* background-color: blueviolet; */
  border-radius: 10px;
  /* min-height: 300px; */
  transition: height 0.5s; /* Add smooth transition for height changes */
}



.add-file-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15%;
  width: 70%;
  background-color: lightgray;
  text-align: center;
  color: white;
  height: 30px;
  /* Align in the center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-files {
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: black;
  padding: 5px 20px;
  border: solid black 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 758ms;
  transform: translateY(0);
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.add-files:hover {
  transition: 758ms;
  padding: 5px 10px;
  transform: translateY(-0px);
  background-color: #fff;
  color: black;
  border: solid 2px;
}

/* Additional styles for hiding the container when height is 0 */
.add-file-container[style*="height: 0"] {
  overflow: hidden;
  margin-bottom: 0;
  padding-bottom: 0;
}
