.add-text-title{
    /* background-color: aqua; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add-text-buttons-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 9px;
}

.textarea {
    width:90%;
    height: 100%;
    border: 1px solid #ddd;
    padding: none;
    margin: none;
    border-radius: 1px;
    background-color: transparent;
    /*Center horizontally*/
    font-family: Arial, Helvetica, sans-serif; /* Makes the font consistent across all platforms */
    font-size: 14px;

}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');


.add-text-buttons{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 12px;
color: black;
background-color: #c3c4c4;
padding: 5px 20px;
border: solid #c3c4c4 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 1px;
transition : 1000ms;
transform: translateY(0);
/* display: flex; */
/* flex-direction: row; */
align-items: center;
cursor: pointer;
margin-left: 5px;
border-radius: 20px;
}

.add-text-buttons:hover,
.add-text-buttons.active {
    padding: 10px 13px;
    transform: translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #000000;
}

.add-text-input{
    height: 190px;
    /* background-color: blue; */
}

.add-text-textbox{
    margin: 10px;
    width: 80%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family: 'Courier New', Courier, monospace;
}
