.header {
    margin-left: 15%;
    max-width: 70%;
    width: 70%; /* Keeps the content from getting too wide */
    font-family: Arial, Helvetica, sans-serif; /* Makes the font consistent across all platforms */
    justify-content: center; /* Centers the content horizontally */
    text-align: center; 
  }
   
  .header {
    margin-top: 40px;
    width: 70%;
    background-color: #ccc;
    height: 140px;
    /* border-radius: 5px; */
  }
  
  .header h1 {
    padding-top: 15px;
    margin: 0;
    color: black;
    font-size: 50px;
  } 
  
  .header h2 {
    padding-top: 15px;
    margin: 0;
    color: #636363;
    font-size: 30px;
  
  }