.main-buttons{
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 12px;
    color: black;
    background-color: #c3c4c4;
    padding: 10px 30px;
    border: solid #c3c4c4 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    transition : 1000ms;
    transform: translateY(0);
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    
}

.main-buttons:hover{
    padding: 10px 13px;
    transform: translateY(-0px);
    background-color: #000000;
    color: #ffffff;
    border: solid 2px #000000;
}


.main-buttons-section{
    margin: 30px;

}

.main-input{
    width: 25%;
    height: 40px;
    margin-top: 20px;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 0px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
}

.add-customer-section{
    background-color: rgb(240, 246, 252);
    padding: 20px;
}
